extends app.pug
block titulo
    title Lista de Clientes

block conteudo
    h1 Lista de Clientes
    table.table.table-striped.table-hover
        thead
            tr
                th(scope="col") #
                th(scope="col") Nome
                th(scope="col") E-mail
                th(scope="col") Ações
        tbody
            each client in clients
                tr
                    th(scope="row") #{client.id}
                    td
                        a.text-decoration-none.link-dark(href=`/client/${client.id}`) #{client.name}
                    td #{client.email}
                    td Editar | Excluir
    a.btn.btn-dark.ms-2(href="/client/create") Cadastrar Novo Cliente